.starter-template {
  padding: 15px;
  color: #c0c0c0;
  padding-top: 20px;
  padding-bottom: 60px;
}

#carouselExampleControls{
  margin-bottom: 100px;
}

.input-form {
  border: solid 1px #d3d3d3
}

.item-name {

}

.item-description {

}

.subsection-padding {
  padding: 0px 20px;
  padding-top: 40px;
}

.badge{
  margin-left: 10px;
}

#gazoumoji{
  font-size: 8px;
  text-align: left;
}

.gazouarea_input{
  width: 60px;
  height: 100px;
}