.starter-template {
  padding: 15px;
  color: #c0c0c0;
  padding-top: 20px;
  padding-bottom: 60px;
}

#carouselExampleControls{
  margin-bottom: 100px;
}

.input-form {
  border: solid 1px #d3d3d3;
  margin-bottom: 60px;
}

.item-name {
  margin-top: 20px;
}

.item-description {

}

.subsection-padding {
  padding: 20px;
}

.text-margine-small {
  margin-left: 10px;
}

.select-form {
  width: 75%;
}

.buttons {
  border: solid 1px #d3d3d3;
}

.button-form {
  width: 70%;
  margin: 5px;
}
