<!DOCTYPE html>
<html lang="ja">

<head>
<script src="/bundle.js"></script>
</head>

<div class="container">
    <div class="starter-template text-center">
        <h3>商品情報入力</h3>
    </div>

    <!-- 商品名 -->
    <div class="input-form text-center">
      <div class="item-name subsection-padding">
        <h6 class="text-left">商品名<span class="badge badge-danger">必須</span></h6>
        <input class="form-control" type="text" placeholder="商品名(必須 40文字まで)">
      </div>

      <!-- 商品の説明 -->
      <div class="item-description subsection-padding">
        <h6 class="text-left">商品の説明<span class="badge badge-danger">必須</span></h6>
        <textarea class="form-control" rows="3" placeholder="商品の説明(必須 1000字以内)"></textarea>
      </div>
    </div>

</div><!-- /.container -->
</html>
