<!DOCTYPE html>
<html lang="ja">

<head>
<script src="/bundle.js"></script>
</head>

<div class="container">
    <div class="starter-template text-center">
        <h3>商品情報入力</h3>
    </div>

    <!-- 商品名 -->
    <div class="input-form text-center">
      <div class="item-name subsection-padding">
        <h5 class="text-left">商品名<span class="badge badge-danger text-margine-small">必須</span></h5>
        <input class="form-control" type="text" placeholder="商品名(必須 40文字まで)">
      </div>

      <!-- 商品の説明 -->
      <div class="item-description subsection-padding">
        <h5 class="text-left">商品の説明<span class="badge badge-danger text-margine-small">必須</span></h5>
        <textarea class="form-control" rows="3" placeholder="商品の説明(必須 1000字以内)"></textarea>
      </div>

      <!-- 商品の詳細 -->
      <div class="item-detail subsection-padding">
        <h5 class="text-left">商品の詳細</h5>
        <div class="form-group">
          <h6 class="text-left">カテゴリー<span class="badge badge-danger text-margine-small">必須</span></h6>
          <select class="form-control select-form" id="category">
            <option>絵画</option>
            <option>彫刻</option>
            <option>版画</option>
            <option>骨董</option>
            <option>きゅうり</option>
            <option>その他</option>
          </select>
        </br>
        <h6 class="text-left">商品の状態<span class="badge badge-danger text-margine-small">必須</span></h6>
        <select class="form-control select-form" id="condition">
          <option>美品</option>
          <option>非常に良い</option>
          <option>良い</option>
          <option>可</option>
        </select>
        </div>
      </div>

      <!-- 日付入力 -->
      <div class="input-term subsection-padding">
        <h5 class="text-left">オークション期間の入力<span class="badge badge-danger text-margine-small">必須</span></h5>
        <div class="text-left">
          <h6>開始日<span class="text-margine-small"><input type="date" name="example2" value="2012-02-16"></span></h6>
        </div>
        <div class="text-left">
          <h6>~</h6>
        </div>
        <div class="text-left">
          <h6>終了日<span class="text-margine-small"><input type="date" name="example2" value="2012-02-16"></span></h6>
        </div>
      </div>

      <!-- 確定ボタン -->
      <div class="buttons subsection-padding">
        <button type="button" class="btn btn-danger button-form">出品する</button>
        </br>
        <button type="button" class="btn btn-secondary button-form">もどる</button>
      </div>
    </div>

</div><!-- /.container -->
</html>
