<!DOCTYPE html>
<html lang="ja">

<head>
<script src="/bundle.js"></script>
</head>

<div class="container">
    <div class="starter-template">
        <h1><%= title %></h1>
        <p class="lead">ここに商品登録画面を作成します。</p>
    </div>
</div><!-- /.container -->
</html>
