<!DOCTYPE html>
<html lang="ja">

<head>
<script src="/bundle.js"></script>
</head>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>        

<div class="container">
    <div class="starter-template">
        <h1><%= message %></h1>
        <p class="lead">The sample is here.</p>
        <p class="lead"><a href="http://www.venezia-works.com/bst/index.html">Bootstrap Editor</a></p>
        <p class="lead"><a href="http://qiita.com/tadayosi/items/839029700b6a576ec1a5">Bootstrap：PatternFly</a></p>
    </div>
</div><!-- /.container -->

</html>
